html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

body {
  background-color: whitesmoke;
  font-family: "Gill Sans", sans-serif;
}

form div {
  margin: 1rem;
}

form label {
  display: block;
}

form p.error {
  margin-top: 0;
  color: red;
}

header {
  background-color: dimgrey;
  color: white;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

header .display {
  display: inline-block;
  margin-left: 1rem;
}

#hex-map-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#hex-map {
  position: absolute;
}

.hex-field {
  width: 200px;
  height: 200px;
  position: absolute;
  pointer-events: none;
  z-index: 0;
}

.hex-field:hover {
  z-index: 1;
}

.hex-field svg a {
  pointer-events: all;
}

.hex-field a:hover polygon {
  stroke: white;
}

.hex-field .sector-name {
  position: absolute;
  text-align: center;
  font-family: cursive;
  left: 0;
  right: 0;
  bottom: 22%;
  font-size: 1.2rem;
  filter: drop-shadow(0 0 0.15em black);
}

.hex-field .sector-star {
  position: absolute;
  transform: rotate(-26.5deg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#hex-field-template {
  display: none;
}

#sector-view {
  background: linear-gradient(#F5F5F500 0%, whitesmoke 70%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15rem;
  z-index: 2;
  text-align: right;
}

#sector-view .sector-name {
  position: absolute;
  font-family: cursive;
  top: -2em;
  right: 1rem;
  font-size: 2rem;
  filter: drop-shadow(0 0 0.15em black);
  border-bottom: 2px solid black;
}

#sector-view .celestial {
  display: inline-block;
  position: relative;
}

#sector-view .celestial svg {
  height: 60%;
  aspect-ratio: 1;
  filter: drop-shadow(0 0 0.15em black);
}

#sector-view .celestial .celestial-name {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
}

#sector-view .celestial .celestial-habitated {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -1.5em;
  color: green;
  text-transform: uppercase;
}

#sector-view .celestial .celestial-features {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  list-style-type: none;
  margin: 0;
  margin-top: 1.5em;
  padding: 0;
}

#celestial-template {
  display: none !important;
}
