html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

body {
  background-color: whitesmoke;
  font-family: "Gill Sans", sans-serif;
}

header {
  background-color: dimgrey;
  color: white;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

header .display {
  display: inline-block;
  margin-left: 1rem;
}
