#movables-view {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 2rem;
  width: 15rem;
  z-index: 2;
  background-color: dimgrey;
  color: white;
}

#movable-template {
  display: none !important;
}

#ship-template {
  display: none !important;
}
