#movables-view {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 2rem;
  width: 15rem;
  z-index: 2;
  background-color: dimgrey;
  color: white;
}

#movable-template {
  display: none !important;
}

#ship-template {
  display: none !important;
}

#movables-view .movables-list {
  list-style-type: none;
  margin: 1rem;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  padding: 0;
}

#movables-view .movables-list .movable {
  background-color: silver;
  color: black;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  padding: 1em;
  cursor: pointer;
}

#movables-view .movables-list .movable:not(.movable-active):hover {
  background-color: whitesmoke;
}

#movables-view .movables-list .movable.movable-active {
  background-color: whitesmoke;
  cursor: default;
}

#movables-view .movables-list .movable-name {
  font-weight: bold;
}

#movables-view .movables-list .movable-status {
  font-size: 0.8em;
  line-height: 0.9em;
  font-style: italic;
}

#movables-view .movables-list .movable-status .movable-status-line {
  white-space: nowrap;
}

#movables-view .movables-list .movable .ship-list {
  margin-top: 0.5em;
  list-style-type: none;
  padding: 0;
}

#movables-view .movables-list .movable .ship-list .ship {
}

#movables-view .movables-list .movable .action-list {
  list-style-type: none;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  display: none;
}

#movables-view .movables-list .movable.movable-active .action-list {
  display: block;
}

#movables-view .movables-list .movable .action-list .action {
  display: inline-block;
  font-size: 0.8em;
}

#movables-view .movables-list .movable .action-list .action {
  border-radius: 2em;
  background-color: dimgrey;
  color: white;
  text-decoration: none;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
}

#movables-view .movables-list .movable .action-list .action:hover {
  background-color: gray;
}

#movables-view .movables-list .movable .action-list .action-toggled {
  color: red;
}
