#movables-view {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 2rem;
  width: 15rem;
  z-index: 10;
  background-color: dimgrey;
  color: white;
}

#movable-template {
  display: none !important;
}

#ship-template {
  display: none !important;
}

#movables-view .movables-list {
  list-style-type: none;
  margin: 1rem;
  margin-top: 0.2rem;
  padding: 0;
}

#movables-view .movables-list .movable {
  background-color: silver;
  color: black;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  padding: 1em;
  padding-left: 1.5em;
  border-left: 1em solid #fff;
  margin-bottom: 1rem;
}

#movables-view .movables-list .movable:not(.movable-active):not(.foreign):hover {
  background-color: whitesmoke;
  cursor: pointer;
}

#movables-view .movables-list .movable.movable-active {
  background-color: whitesmoke;
  cursor: default;
}

#movables-view .movables-list .movable-name {
  font-weight: bold;
}

#movables-view .movables-list .movable-icon {
  color: white;
  position: absolute;
  transform: translate(-2.5em, -0.5em);
  border-radius: 2em;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#movables-view .movables-list .movable-status:not(.foreign) {
  font-size: 0.8em;
  line-height: 0.9em;
  font-style: italic;
}

#movables-view .movables-list .movable.foreign .movable-status {
  display: none;
}

#movables-view .movables-list .movable-status .movable-status-line {
  white-space: nowrap;
}

#movables-view .movables-list .movable .ship-list {
  margin-top: 0.5em;
  list-style-type: none;
  padding: 0;
}

#movables-view .movables-list .movable .ship-list .ship {
}

#movables-view .movables-list .movable .action-list {
  margin-top: 1rem;
  display: none;
}

#movables-view .movables-list .movable.movable-active .action-list {
  display: block;
}

#movables-view .movables-list .movable > .action-list > .action {
  display: inline-block;
}

#movables-view .movables-list .movable:not(.can-colonialize) .action-colonialize {
  display: none;
}
