.popup {
  display: none;
  position: absolute;
  font-size: 1rem;
  white-space: nowrap;
}

.popup .action-list .action {
  display: block;
  box-shadow: 0 0 0.5rem black;
  margin-bottom: 0.5rem;
}

#popup-curtain
{
  z-index: 1000;
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
