#sector-view {
  background: linear-gradient(#F5F5F500 0%, whitesmoke 70%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15rem;
  z-index: 2;
  text-align: right;
}

#sector-view .sector-name {
  position: absolute;
  font-family: cursive;
  top: -2em;
  right: 1rem;
  font-size: 2rem;
  filter: drop-shadow(0 0 0.15em black);
  border-bottom: 2px solid black;
}

#sector-view .celestial {
  display: inline-block;
  position: relative;
}

#sector-view .celestial svg {
  height: 60%;
  aspect-ratio: 1;
  filter: drop-shadow(0 0 0.15em black);
}

#sector-view .celestial .celestial-name {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
}

#sector-view .celestial .celestial-habitated {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -1.5em;
  color: green;
  text-transform: uppercase;
}

#sector-view .celestial .celestial-features {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  list-style-type: none;
  margin: 0;
  margin-top: 1.5em;
  padding: 0;
}

#celestial-template {
  display: none !important;
}
