#hex-map-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#hex-map {
  position: absolute;
}

#trajectory {
  pointer-events: none;
  z-index: 2;
  position: absolute;
}

.hex-field {
  width: 200px;
  height: 200px;
  position: absolute;
  pointer-events: none;
  z-index: 0;
}

.hex-field:hover {
  z-index: 1;
}

.hex-field.hex-field-selected {
  z-index: 3;
}

.hex-field.hex-field-selected polygon.hex-field-background {
  fill: white;
}

.hex-field.hex-field-selected polygon.hex-field-stroke {
  stroke: white;
}

.hex-field svg a {
  pointer-events: all;
}

.hex-field a:hover polygon.hex-field-stroke {
  stroke: white;
}

.hex-field .hex-field-name {
  position: absolute;
  text-align: center;
  font-family: cursive;
  left: 0;
  right: 0;
  bottom: 22%;
  font-size: 0.8rem;
  filter: drop-shadow(0 0 0.15em black);
}

.hex-field.sector .hex-field-name {
  font-size: 1.2rem;
}

.hex-field .sector-star {
  transform: rotate(-26.5deg);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.hex-field .hex-field-movables {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  text-align: center;
}

.hex-field .hex-field-movables .movable {
  border-radius: 1em;
  background-color: dimgrey;
  color: white;
  font-size: 0.8rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: inline-block;
}

#hex-field-template {
  display: none;
}

